@import "./utils/_fonts";
@import "./utils/_var";
@import "./utils/_reset";

html {
  box-sizing: border-box;
  margin: 0;
  background-color: black;

  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.visibile {
  opacity: 1;
}

/*==================
 LOADER
 ==================*/

.loadingImage {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 300px;
}

.percent {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-family: "title";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.buttonLoader {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  border: none;

  background-color: black;
  padding: 10px 20px;
  opacity: 0;
  visibility: hidden;
  font-family: "title";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-size: 60px;
}

.buttonLoader.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.loadingImage,
.percent ,
.buttonLoader {
  transition: opacity 0.9s ease-in-out;
}

.loadingImage.hidden,
.percent.hidden,
.buttonLoader.hidden {
  opacity: 0;
  visibility: hidden;
}

/*==================
 TIMELINE
 ==================*/

.timeline {
  position: absolute;
  bottom: 20%;
  right: 6%;
  width: 2px;
  height: 300px;
  background: purple;
  transition: transform 0.5s;
  transform-origin: top left;
  pointer-events: none;
  opacity: 0;
}

.timeline::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
}

.step1 {
  position: absolute;
  top: 10%;
  opacity: 0;
  left: 30%;
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

/*==================
SUBTITLES
 ==================*/

.words {
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "text";
  // text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
}

.char {
  opacity: 0;
}

/*==================
TITLES
 ==================*/

.titles {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  color: white;
  font-size: 80px;
  line-height: 80px;
}

/*==================
CHECKPOINTS NAVIGATION
 ==================*/
.close {
  position: absolute;
  border: #fff solid 2px;
  border-radius: 50%;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0;
  transition: opacity ease 0.35s;
  pointer-events: none;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 13px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close.visible {
  opacity: 1;
  pointer-events: all;
}

.next {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
}
