@import "./utils/_fonts";
@import "./utils/_var";
@import "./utils/_reset";

html {
  box-sizing: border-box;
  margin: 0;
  background-color: black;

  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.visibile {
  opacity: 1;
}

/*==================
 LOADER
 ==================*/

.percent {
  position: absolute;
  top: 35%;
  left: 55%;
  color: white;
  font-size: 60px;
}

.percent.hidden {
  opacity: 0;
}

.buttonLoader {
  position: absolute;
  top: 20%;
  left: 55%;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.buttonLoader.visible {
  opacity: 1;
}

.buttonLoader.hidden {
  opacity: 0;
}

/*==================
 TIMELINE
 ==================*/

.timeline {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: top left;
}

.step1 {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

/*==================
SUBTITLES
 ==================*/

.words {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
}

.words.visible {
  opacity: 1;
}

.char {
  opacity: 0;
}
