@font-face {
  font-family: "title";
  font-weight: lighter;
  src: url("/assets/fonts/bagerich.ttf") format("truetype"),
    url("/assets/fonts/bagerich.woff2") format("woff2"),
    url("/assets/fonts/bagerich.woff") format("woff");
}

@font-face {
  font-family: "text-regular";
  font-weight: lighter;
  src: url("/assets/fonts/louize-regular.otf") format("opentype"),
    url("/assets/fonts/louize-regular.woff2") format("woff2"),
    url("/assets/fonts/louize-regular.woff") format("woff");
}

@font-face {
  font-family: "text-medium";
  font-weight: normal;
  src: url("/assets/fonts/louize-medium.otf") format("opentype"),
    url("/assets/fonts/louize-regular.woff2") format("woff2"),
    url("/assets/fonts/louize-regular.woff") format("woff");
}
