@font-face {
  font-family: "text";
  src: url("/assets/fonts/text/iskry.eot"),
    url("/assets/fonts/text/iskry.woff2") format("woff2"),
    url("/assets/fonts/text/iskry.woff") format("woff"),
    url("/assets/fonts/text/iskry.ttf") format("truetype");
  font-weight: lighter;
  font-style: lighter;
  font-display: swap;
}

@font-face {
  font-family: "title";
  src: url("/assets/fonts/title/roxborough.ttf") format("truetype");
  font-weight: lighter;
  font-style: lighter;
  font-display: swap;
}
